.loading {
  //height: 100vh;

  display: grid;
  align-content: center;
  justify-items: center;
  grid-column: 1/-1;

  img {
    height: 9.6rem;
    width: 9.6rem;
    margin-bottom: 3.2rem;
  }

  a,
  a:link,
  a:visited {
    color: inherit;
  }
}